<div class="card" id="help-container">
	<div class="inner">
		<h2>How much will you pay?</h2>
		<p>Enter your income to see how <a href="/news/2017-05-02/how-uni-changes-affect-you/8488444" title="University funding: How will the Government's proposed changes affect you?">planned changes</a> to student debt repayments will affect you.</p>
		<div>
			<div>
				<input class="form-control" type="text" placeholder="Your taxable income" id="help-taxable-income">
				<button class="btn btn-default">Calculate</button>
			</div>
			<div id="help-result"></div>
			<div id="help-notes">
				<h3>Notes:</h3>
				<ul>
					<li>This calculator provides an estimate only.</li>
					<li>Your actual repayments may depend on other amounts in your tax return which may adjust the income amount used to calculate repayments. This might include, for example, fringe benefits and some types of superanuation contributions.</li>
					<li>The difference calculated is for the 2018-19 financial year, the first year for which the proposed changes would apply.</li>
					<li>The comparison is between the rates which would apply for 2018-19 under current law (including changes passed by the government in 2016 which have not yet taken effect) and the new proposed rates for the same year.</li>
				</ul>
			</div>
		</div>
	</div>
</div>
